.stApp{
    background: linear-gradient(
        135deg,#f8fafc 0%,#d9d3eb 50%,#f7d1df 100%
    );
    min-height: 100vh;
    font-family: 'Segoe UI',sans-serif;
}

.card{
    background-color: #ffffff;
    padding: 5%;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
}

h1,h2,h3{
    color: #000000;
}

div[data-testid="metric-container"]{
    background-color: #f6f6f8;
    border-radius: 16px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(4, 2, 2, 0.05);
}

.prediction-box{
    background: linear-gradient(135deg, #dcfce7,#bbf7d0);
    padding:22px;
    border-radius: 14px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #14532d;
    margin-top: 15px;
}